body {
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
}

button {
  background-color: #f00;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

a {
  color: #007bff;
}
